{{template "layout"}}
{{define "title"}}Task List{{end}}
{{define "content"}} 

{{range .Values}}
<article>
    <header>{{.Name}}
        <a href="/task/{{.ID}}"data-tooltip="Update task"><iconify-icon icon="mdi:pencil"></iconify-icon></a>
        <a style="color: var(--pico-del-color);" href="/delTask/{{.ID}}"
        data-tooltip="Delete task" data-placement="right"><iconify-icon icon="mdi:trash"></iconify-icon></a>
    </header>
    {{if eq .Status "todo"}}
    <p style="color: #D93526;">{{.Status}}</p>
    {{else if eq .Status "doing"}}
    <p style="color: #FFBF00;">{{.Status}}</p>
    {{else}}
    <p style="color: #00895A;">{{.Status}}</p>
    {{end}}
    <foote>{{.EndDate}}</foote>
</article>
{{end}}

{{end}}