<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Registration</title>
    </head>
    <body>
        <a href="/"><h3>Home</h3></a>
        <h1>Register Employee</h1>
        <form action="/employee" method="POST" novalidate>
            <div>
                {{range .Form.Errors.List "name"}}
                    <p style="color:crimson">{{.}}</p>
                {{end}}
                <p><label>Name</label></p>
                <p><input type="text" name="name" value='{{.Form.Get "name"}}'></p>
            </div>
            <div>
                {{range .Form.Errors.List "email"}}
                    <p style="color:crimson">{{.}}</p>
                {{end}}
                <p><label>Email</label></p>
                <p><input type="email" name="email" value='{{.Form.Get "email"}}'></p>
            </div>
            <div>
                {{range .Form.Errors.List "password"}}
                    <p style="color:crimson">{{.}}</p>
                {{end}}
                <p><label>Password</label></p>
                <p><input type="password" name="password" value='{{.Form.Get "password"}}'></p>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>      
    </body>
</html>