{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    <title>{{template "title" .}}</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/" id="home">Home</a></li>
            </ul>
            <ul>
                <li><a href="/tasks" id="task_creation">New Task</a></li>
                <li><a href="/listTasks" id="tasks_page">View Tasks</a></li>
                <li><a href="/employee" id="employee_creation">New Employee</a></li>
                <li><a href="/listEmployees" id="employees_page">View Employees</a></li>
                <li><a href="/taem" id="relat">Relations</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            {{template "content" .}}
        </div>
    </main>
</body>
</html>
{{end}}