{{template "layout"}}
{{define "title"}}Login{{end}}
{{define "content"}}
    <h1>Login</h1>
    <form action="/login" method="POST" novalidate>
        <div>
            {{range .Errors.email}}
                <p style="color:crimson">{{.}}</p>
            {{end}}
            <p><label>Email</label></p>
            <p><input type="email" name="email"></p>
        </div>
        <div>
            {{range .Errors.password}}
                <p style="color:crimson">{{.}}</p>
            {{end}}
            <p><label>Password</label></p>
            <p><input type="password" name="password"></p>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>      
{{end}}