{{template "layout"}}
{{define "title"}}Register{{end}}    
{{define "content"}}    
    <h1>Register your Account</h1>
    <form action="/register" method="POST" novalidate>
        <div>
            {{range .Errors.name}}
                <p style="color:crimson">{{.}}</p>
            {{end}}
            <p><label>Name</label></p>
            <p><input type="text" name="name"></p>
        </div>
        <div>
            {{range .Errors.email}}
                <p style="color:crimson">{{.}}</p>
            {{end}}
            <p><label>Email</label></p>
            <p><input type="email" name="email"></p>
        </div>
        <div>
            {{range .Errors.password}}
                <p style="color:crimson">{{.}}</p>
            {{end}}
            <p><label>Password</label></p>
            <p><input type="password" name="password"></p>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{{end}}