{{template "layout"}}
{{define "title"}}Create Task{{end}}
{{define "content"}}
    <h1>Create Task</h1>
    <form action="/tasks" method="POST" novalidate>
        <div>
            <p><label>Name</label></p>
            <p><input type="name" name="name" 
                value='{{with .Form.Get "name"}}{{.}}{{end}}'
                aria-invalid='{{with .Form.Errors.List "name"}}true{{end}}'
                aria-describedby="e-name"> 
                {{range .Form.Errors.List "name"}}
                    <small id="e-name">{{.}}</small>
                {{end}}
            </p>
        </div>
        <div>
            <p><label>Status</label></p>
            <p><select name="status" 
                aria-invalid='{{with .Form.Errors.List "status"}}true{{end}}'
                aria-describedby="e-status">
                <option value="">...</option>
                <option value="todo">To Do</option>
                <option value="doing">Doing</option>
                <option value="done">Done</option>
            </select>
            {{range .Form.Errors.List "status"}}
                <small id="e-status">{{.}}</small>
            {{end}}
            </p>
        </div>
        <div>
            <p><label>End Date</label></p>
            <p><input type="date" name="endDate" min="2024-10-1" max="2024-12-31"
                value='{{with .Form.Get "endDate"}}{{.}}{{end}}'
                aria-invalid='{{with .Form.Errors.List "endDate"}}true{{end}}'
                aria-describedby="e-date"> 
                {{range .Form.Errors.List "endDate"}}
                    <small id="e-date">{{.}}</small>
                {{end}}
            </p>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{{end}}